@model AgroMais.Models.Clientes

<div id="header">
    <div id="topo">
        <h3><i class="fa fa-plus topo"></i>Cadastrar novo cliente</h3>
        <div id="div-btn-add">
            <p>Voltar para a lista</p>
            <a id="btn-add" href="~/Home/Clientes" style="text-decoration:none;"><i class="fa fa-arrow-left"></i></a>
        </div>
    </div>
</div>
<div id="container">
    <div id="lista">
        <h1>Dados do cliente</h1>
        <br class="dont-print">
        <br class="dont-print">

        <div class="row" id="formulario">
            <div class="col-md-4 mb-4">
                <label><b>Nome:</b></label>
                <input type="text" class="form-control" name="CLI_NOME" id="CLI_NOME">
                <br class="dont-print">
            </div>
            <div class="col-md-4 mb-4">
                <label><b>Profissão:</b></label>
                <input type="text" class="form-control" name="CLI_PROFISSAO" id="CLI_PROFISSAO">
                <br class="dont-print">
            </div>
            <div class="col-md-2 mb-2">
                <label><b>Sexo:</b></label>
                <select class="form-select" name="CLI_SEXO" id="CLI_SEXO">
                    <option value="" selected>Selecione</option>
                    <option value="0">Masculino</option>
                    <option value="1">Feminino</option>
                </select>
                <br class="dont-print">
            </div>
            <div class="col-md-2 mb-2">
                <label><b>Data de Nascimento:</b></label>
                <input type="date" class="form-control date" name="CLI_DATA_NASC" id="CLI_DATA_NASC">
                <br class="dont-print">
            </div>
            <div class="col-md-4 mb-4">
                <label><b>CPF:</b></label>
                <input type="text" class="form-control cpf" name="CLI_CPF" id="CLI_CPF" placeholder="###.###.###-##" onkeyup="mascara('###.###.###-##',this,event,true)" maxlength="14">
                <br class="dont-print">
            </div>
            <div class="col-md-4 mb-4">
                <label><b>CNPJ:</b></label>
                <input type="text" class="form-control cnpj" name="CLI_CNPJ" id="CLI_CNPJ" placeholder="##.###.###/####-##" onkeyup="mascara('##.###.###/####-##',this,event,true)" maxlength="18">
                <br class="dont-print">
            </div>
            <div class="col-md-4 mb-4">
                <label><b>RG:</b></label>
                <input type="text" class="form-control" name="CLI_RG" id="CLI_RG" placeholder="##.###.###-#" onkeyup="mascara('##.###.###-#',this,event,true)" maxlength="12">
                <br class="dont-print">
            </div>
            <div class="col-md-4 mb-4">
                <label><b>Telefone:</b></label>
                <input type="text" class="form-control" name="CLI_TELEFONE" id="CLI_TELEFONE" placeholder="(##)####.####" onkeyup="mascara('(##)####.####',this,event,true)" maxlength="13">
                <br class="dont-print">
            </div>
            <div class="col-md-4 mb-4">
                <label><b>Celular:</b></label>
                <input type="text" class="form-control" name="CLI_CELULAR" id="CLI_CELULAR" placeholder="(##)#####.####" onkeyup="mascara('(##)#####.####',this,event,true)" maxlength="14">
                <br class="dont-print">
            </div>
            <div class="col-md-4 mb-4">
                <label><b>Email:</b></label>
                <input type="text" class="form-control" name="CLI_EMAIL" id="CLI_EMAIL">
                <br class="dont-print">
            </div>
            <div class="col-md-4 mb-4">
                <label><b>CEP:</b></label>
                <input type="text" class="form-control" name="CLI_CEP" id="CLI_CEP" placeholder="##.###-###" onkeyup="mascara('##.###-###',this,event,true)" maxlength="10">
                <br class="dont-print">
            </div>
            <div class="col-md-4 mb-4">
                <label><b>Logradouro:</b></label>
                <input type="text" class="form-control" name="CLI_LOGRADOURO" id="CLI_LOGRADOURO">
                <br class="dont-print">
            </div>
            <div class="col-md-4 mb-4">
                <label><b>Município:</b></label>
                <input type="text" class="form-control" name="CLI_MUNICIPIO" id="CLI_MUNICIPIO">
                <br class="dont-print">
            </div>
            <div class="col-md-4 mb-4">
                <label><b>Bairro:</b></label>
                <input type="text" class="form-control" name="CLI_BAIRRO" id="CLI_BAIRRO">
                <br class="dont-print">
            </div>
            <div class="col-md-4 mb-4">
                <label><b>Número:</b></label>
                <input type="text" class="form-control" name="CLI_NUMERO" id="CLI_NUMERO">
                <br class="dont-print">
            </div>
            <div class="col-md-4 mb-4">
                <label><b>Complemento:</b></label>
                <input type="text" class="form-control" name="CLI_COMPLEMENTO" id="CLI_COMPLEMENTO">
                <br class="dont-print">
            </div>
        </div>

        <br class="dont-print">
        <button class="btn-cadastrar">Cadastrar <i class="fa fa-plus"></i></button>
    </div>
</div>
<script>
</script>