@model AgroMais.Models.Clientes

@using AgroMais.Models

@{
    ViewData["Title"] = "Clientes";
}

<div id="header">
    <div id="topo">
        <h3><i class="fa fa-users topo"></i>Lista de clientes cadastrados</h3>
        <div id="div-btn-add">
            <p>Cadastrar novo cliente</p>
            <a id="btn-add" href="/Home/addCliente" style="text-decoration:none;"><i class="fa fa-plus"></i></a>
        </div>
    </div>
</div>
<div id="container">
    <div id="lista">
        <table id="datatable" class="table table-striped" style="width:100%">
            <thead>
                <tr>
                    <th class="col-md-3">Nome</th>
                    <th class="col-md-4">Endereço</th>
                    <th class="col-md-2">Telefone</th>
                    <th class="col-md-1">Qtd. serviços</th>
                    <th class="col-md-2"></th>
                </tr>
            </thead>
            <tbody>
                @if (Model.listaclientes.Count() > 0)
                {
                    foreach (var cliente in Model.listaclientes)
                    {
                        <tr style="text-align: center;">
                            <input type="hidden" value="@cliente.CLI_ID" />
                            <th class="col-md-3 texto-lista">@cliente.CLI_NOME </th>
                            <td class="col-md-4 texto-lista">@cliente.CLI_MUNICIPIO</td>
                            <td class="col-md-2 texto-lista">@cliente.CLI_TELEFONE</td>
                            <td class="col-md-1 texto-lista">3</td>
                            <td class="col-md-2">
                                <button class="btn btn-primary btn-lista" onclick="abrirModal()"><i class="fa fa-search"></i></button>
                                <button class="btn btn-warning btn-lista"><i class="fa fa-pencil" style="color: #fff;"></i></button>
                                <button class="btn btn-danger btn-lista"><i class="fa fa-trash"></i></button>
                            </td>
                        </tr>
                    }
                }
                else
                {
                    <p>Nenhum cliente encontrado</p>
                }
            </tbody>
            <tfoot>
                <tr>
                    <th class="col-md-3">Nome</th>
                    <th class="col-md-4">Endereço</th>
                    <th class="col-md-2">Telefone</th>
                    <th class="col-md-1">Qtd. serviços</th>
                    <th class="col-md-2"></th>
                </tr>
            </tfoot>
        </table>
    </div>
</div>

<!--//////// Modal detalhes ////////-->
<div class="modal" id="modal">
    <img src="/assets/img/CIMA.jpg" id="topo-modal" class="print">
    <div class="modal-content">
        <div class="btn-modal no-print" style="text-align: right;">
            <button class="btn btn-danger close" onclick="fecharModal()" id="close"><i class="fa fa-close"></i></button>
        </div>
        <div id="info-modal" class="conteudo">
            <h2 class="titulo-modal">Detalhes do Serviço</h2>
            <p><b>Nome: </b>Bruno Eduardo</p>
            <p><b>Tipo de serviço: </b>Descrição do serviço</p>
            <p><b>Status: </b>Em aberto</p>
            <p><b>Propriedade: </b>Nome da propriedade</p>
            <br>
            <p><b>Complemento</b></p>
            <p> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Rem culpa quia, rerum sed ullam magni, placeat quae facilis inventore molestiae soluta nihil, cum voluptate! </p><p> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Rem culpa quia, rerum sed ullam magni, placeat quae facilis inventore molestiae soluta at quae facilis inventore molestiae soluta nihil, cum voluptate! </p><p> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Rem culpa quia, rerum sed ullam magni, placeat quae facilis inventore molestiae soluta nihil, cum voluptate! </p><p> Lorem ipsum dolor sit amet consectetur, adipisicingadipisicing elit. Rem culpa quia, rerum sed ullam magni, placeat quae facilis inventore molestiae soluta nihil, cum voluptate! </p>
            <br>
            <p><b>Valor: </b>R$1.000,00</p>
            <p><b>Tipo: </b>Débito</p>
            <p><b>Status do pagamento: </b>Pago</p>
            <br>
            <br>
        </div>
        <div class="btn-modal no-print" style="text-align: center;">
            <button class="btn btn-success" onclick="window.print()"><i class="fa fa-print"></i></button>
            <p>Imprimir</p>
        </div>
    </div>
    <img src="/assets/img/BAIXO.jpg" id="base-modal" class="print">
</div>

<script>

    
</script>