<div id="header">
    <div id="topo">
        <h3><i class="fa fa-cog topo"></i>Configurações do perfil</h3>
            <div id="div-btn-add">
                <p>Adcionar serviço</p>
                <a id="btn-add"><i class="fa fa-plus"></i></a>
            </div>
    </div>
</div>
<div id="container">
    <div id="lista">
        configuração
    </div>
</div>