/* CSS para impressão */
@media print {
    #sidebar {
        display:none;
    }
    .modal {
        display: block;
    }
    .modal-content {
        display: block;
        font-family: Arial, Helvetica, sans-serif;
        box-shadow: none;
        margin: 2cm;
        width: 100%;
        text-align: left;
        font-size: 16px;
    }
    img {
        width: 100%;
    }
    #topo-modal {
        top: 0;
    }
    #base-modal {
        bottom: 0px;
        position: fixed;
    }
    .print {
        display: block;
    }
    .no-print {
        display: none;
    }
    h1 {
        font-weight: bold;
        font-size: 32px;
    }
    h2, h3,h4 {
        font-weight: bold;
        font-size: 28px;
    }
    p {
        margin: 0 0 18px 0;
    }
    a {
        text-decoration: underline;
    }
    a:link:after, a:visited:after {
        content: " (" attr(href) ") ";
        font-size: 90%;
    }
}
